CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
database.default.hostname = 127.0.0.1
database.default.database = todayline_tsa2
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
# DEMO_PASSWORD = choose-a-strong-password-before-seeding
